PORT=3000
JWT_SECRET=coloque-uma-chave-secreta-forte-aqui
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=capas-filmes
MINIO_PUBLIC_URL=http://localhost:9000
